# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
/config
.DS_Store
.project
.idea
*.iml
target/
target/*
bin/

*.class

.DS_Store

.project
.settings
.classpath
