<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="assets/css/material-design.css">
    <link rel="stylesheet" type="text/css" href="assets/css/small-n-flat.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <title>数据仪表 - 区块链</title>
</head>
<body class="cm-no-transition cm-1-navbar" ng-controller="MyCtrl">
<div id="cm-menu">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"><a href="index.html" class="cm-logo"></a></div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
    </nav>
    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items">
                    <li ui-sref='index' ui-sref-active="active"><a class="sf-house">首页</a></li>
                    <li ui-sref='block' ui-sref-active="active"><a class="sf-brick">区块列表</a></li>
                    <li ui-sref='transaction' ui-sref-active="active"><a class="sf-basket">交易列表</a></li>
                    <li class="cm-submenu">
                        <a class="sf-window-layout">库存交易 <span class="caret"></span></a>
                        <ul>
                            <li ui-sref='stock_warehouse' ui-sref-active="active"><a>仓库资料</a></li>
                            <li ui-sref='stock_product' ui-sref-active="active"><a>物料资料</a></li>
                            <li ui-sref='stock_batch' ui-sref-active="active"><a>批次信息</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header id="cm-header">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
        <div class="cm-flex">
            <h1 ng-bind="activeTabName"></h1>
            <div class="cm-breadcrumb-container">
                <ol class="breadcrumb">
                    <li ng-repeat="bc in breadcrumb" ng-class="{'active': $index == breadcrumb.length - 1}">
                        <a href="#" ng-bind="bc"></a>
                    </li>
                </ol>
            </div>
            <form id="cm-search">
                <input type="search" name="q" autocomplete="off" placeholder="搜索...">
            </form>
        </div>
        <div class="pull-right">
            <div id="cm-search-btn" class="btn btn-primary md-search-white" data-toggle="cm-search"></div>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-book-white" data-toggle="dropdown"></button>
            <ul id="channels-menu" class="dropdown-menu">
                <li ng-repeat="item in blockchains" ng-class="{'active': item.channel == activeBlockchain.channel}">
                    <a href="#" ng-click="toggleBlockchain(item)">
                        <i class="fa fa-fw fa-book"></i>{{item.channel}}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="global">
    <div ui-view="global-view"></div>
</div>
<script type="text/javascript" src="assets/lib/require.js" data-main="assets/js/main.js"></script>
</body>
</html>